.main-container {
    background-color: #1C2D3C;
}

.header-container {
    background-color: #06131F;
}

.img {
    width: 2rem;

}

.gallery {
    background-color: #1C2D3C;
    color: white;
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

.card {
    background-color: #102030;
    justify-content: center;
    
}

.card-body.text-center {
    background-color: #102030;
    color: #fff;
}