.main-container {
    background-color: #1C2D3C;
}

.header-container {
    background-color: #06131F;
    min-height: 5rem;
}

.img {
    width: 3rem;
    margin: 1rem;
    

}

.gallery {
    background-color: #1C2D3C;
    color: white;
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
}

.card {
    background-color: #102030;

}

.card-body.text-center {
    background-color: #102030;
    color: #fff;
    max-height: fit-content;
}